{% block translation_widget %}
    {% spaceless %}
        <div class="tabbable" {{ block('widget_container_attributes') }}>
            {{ form_errors(form) }}

            <ul class="nav nav-tabs">
                {% for key, child in form %}
                    <li {% if loop.first %}class="active"{% endif %}><a href="#tabs-{{ id }}-{{ key }}" data-toggle="tab">{{ key }}</a></li>
                {% endfor %}
            </ul>
            <div class="tab-content">
                {% for key, child in form %}
                    {{ block('translation_widget_row') }}
                {% endfor %}
            </div>

            {{ form_rest(form) }}
        </div>
    {% endspaceless %}
{% endblock %}

{% block translation_widget_row %}
    {% spaceless %}
        <div class="{% if loop.first %}active{% endif %} tab-pane control-group{% if errors|length > 0%} error{%endif%}" id="tabs-{{ id }}-{{ key }}">
            <fieldset>
                <div class="controls sonata-ba-field sonata-ba-field-{{ sonata_admin.edit }}-{{ sonata_admin.inline }} {% if errors|length > 0 %}sonata-ba-field-error{% endif %}">
                    {{ form_widget(child) }}
                </div>

                {% if errors|length > 0 %}
                <div class="help-inline sonata-ba-field-error-messages">
                    {{ form_errors(child) }}
                </div>
                {% endif %}
            </fieldset>
        </div>
    {% endspaceless %}
{% endblock %}